body {
  background-color: #111;
  color: #eee;
  font-size: 1.0em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 1.4em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 1.6em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 1.8em;
  }
}

body, p {
  font-family: 'SpiegelSansWeb', Verdana, sans-serif;
}

a, a:visited, a:hover {
  color: red;
}

/*
h1, h2, h3 {
  line-height: 1.1em;
  font-weight: normal;
  font-family: 'SpiegelHeadlineWeb', Verdana, sans-serif;
}
*/

#results-warning {
  padding: 0.3em;
  color: white;
  background-color: red;
  text-align: center;
}

header, footer {
  padding: 0.4em;
  background-color: #eee;
  color: black;
}

header {
  font-size: 1.2em;
  border-bottom: 0.2em solid #bbb;
  text-transform: uppercase;
  font-weight: bold;
}

header .election-name {
  color: #aaa;
}

footer {
  margin-top: 3em;
  border-top: 0.2em solid #bbb;
}

.regime-change {
  text-align: right;
}

.regime-change .toggle-regime.active {
  font-weight: bold;
}

.loading {
  text-align: center;
  margin-top: 3em;
}

.mark-temporary {
  background-color: red;
  color: white;
  text-align: center;
}

.row.result {
  padding-bottom: 0.2em;
  padding-top: 0.3em;
  border-bottom: 2px solid #111;
  font-size: 1.3em;
}

.row.result .numeric {
  text-align: right;
}

.row.result .legend {
  color: #666;
}

.row.result.elected {
  background-color: #222; 
}

.row.result.elected.faction {
  background-color: #888;   
}

.row.result .party-name {
  font-weight: bolder;
}

.row.result .trend {
  font-size: 0.8em;
  margin-left: -20px;
  display: inline-block;
  min-width: 2.2em;
  text-align: right;
}

.row.result.summary {
  border-top: 1px solid #bbb;
}

.trend.neutral {
  color: #666;
}

.trend.increase {
  color: #349b09;
}

.trend.decrease {
  color: #e30820;
}


/* Party colors. */
.fg-cdu, .fg-csu {
  color: #0c065d;
}

.fg-cdu.light, .fg-csu.light {
  color: #fff;
}

.fg-spd {
  color: #e30820;
}

.fg-fdp {
  color: #ffc907;
}

.fg-dielinke {
  color: #b939c1;
}

.fg-grune {
  color: #349b09;
}

.fg-piraten {
  color: #f60;
}

.fg-afd {
  color: #97d2fb;
}

.fg-npd, .fg-rep {
  color: #703800;
}


.states-list {
  padding: 0.4em;
  background-color: #eee;
  border-bottom: 0.2em solid #bbb;
  border-top: 0.2em solid #bbb;
  margin-top: 2em;
}

.states-list ul {
  list-style-type: none;
  padding: 0;
}

.states-list ul li {
  display: block;
  float: left;
  min-width: 6.2%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #999;
  margin: 0;
  padding: 0;
}

.states-list ul li a {
  color: #999;
}

.states-list ul li a:hover {
  color: #000;
  text-decoration: none;
}

